@model ProductVm
@inject TechShop.Services.LayoutVmService services

@{

    ViewData["Title"] = "Home Page";
}


<div class="slider-area">
    <div class="slider-active owl-dot-style owl-carousel">
        @foreach (var item in Model.Sliders)
        {
            <div class="single-slider pt-90 pb-110 bg-img" style="background-image:url(uploads/sliders/@item.Photo);">
                <div class="container">
                    <div class="slider-content slider-animated-1">
                        <h5 class="animated">@item.Title</h5>
                        <h2 class="animated">@item.Text</h2>
                        <h3 class="animated"><span>Starting at </span> $@item.Price</h3>
                        <div class="slider-btn mt-75">
                            <a class="animated" href="@item.RedirectUrl">shopping Now</a>
                        </div>
                    </div>
                </div>
            </div>

        }

    </div>
</div>
<div class="banner-area banner-negative-mrg-2">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 col-md-6">
                <div class="banner-img banner-hover">
                    <a href="#"><img alt="" src="~/assets/img/banner/banner-1.jpg"></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="banner-img banner-hover">
                    <a href="#"><img alt="" src="~/assets/img/banner/banner-2.jpg"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-area pt-65 pb-30">
    <div class="container">
        <div class="product-tab-list mb-30 nav" role="tablist">
            <a class="active" href="#home1" data-toggle="tab">
                <h4>New Arrivals</h4>
            </a>
            <a href="#home2" data-toggle="tab">
                <h4> Discounted</h4>
            </a>
            <a href="#home3" data-toggle="tab">
                <h4>Top Rated</h4>
            </a>
        </div>
        <div class="tab-content jump">
            <div class="tab-pane active" id="home1">
                <div class="custom-row">
                    @foreach (var item in Model.AllProduct)
                    {
                        <div class="custom-col-5 mb-30">
                            <div class="devita-product-2 mrg-inherit">
                                <div class="product-img">
                                    <div class="product-img-slider">
                                        @foreach (var picture in item.ProductPhotos)
                                        {
                                            <a asp-controller="product" asp-action="detail" asp-route-id="@item.Id"><img src="~/uploads/products/@picture.Name" alt=""></a>

                                        }


                                    </div>
                                    @if (item.DiscountPercent > 0)
                                    {
                                        <span>-@item.DiscountPercent %</span>

                                    }
                                    else
                                    {
                                        <span style="display:none!important;">
                                        </span>

                                    }
                                </div>
                                <div class="list-col">
                                    <div class="gridview">
                                        <div class="product-content text-center">
                                            <span>Remote, Accessories</span>
                                            <h4><a href="product-details.html">@item.Name</a></h4>
                                            <div class="product-price-wrapper">
                                                @if (item.DiscountPercent > 0)
                                                {
                                                    <span>$@item.DiscountPrice</span>
                                                    <span class="product-price-old">$@item.Price</span>
                                                }
                                                else
                                                {
                                                    <span>$@item.Price</span>

                                                }

                                            </div>
                                        </div>
                                        <div class="product-action-wrapper-2 text-center">
                                            <div class="product-rating">

                                                @for (int i = 1; i <= 5; i++)
                                                {
                                                    if (i <= item.Rate)
                                                    {
                                                        <i class="ion-android-star-outline theme-star"></i>

                                                    }
                                                    else
                                                    {
                                                        <i class="ion-android-star-outline"></i>

                                                    }

                                                }

                                            </div>
                                            <p>@(item.InfoText!=null && item.InfoText.Length>30?item.InfoText.Substring(0,30): item.InfoText)</p>
                                            <div class="product-action">
                                                <a class="same-action" title="Wishlist" href="#">
                                                    <i class="fa fa-heart-o"></i>
                                                </a>
                                                <a class="action-cart" title="Add To Cart" asp-action="AddBasket" asp-controller="product" asp-route-id="@item.Id">
                                                    Add to Cart
                                                </a>
                                                <a class="same-action compare-mrg" data-target="#exampleCompare" data-toggle="modal" title="Compare"  >
                                                    <i class="fa fa-sliders fa-rotate-90"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }

                </div>
            </div>
            <div class="tab-pane" id="home2">
                <div class="custom-row">
                    @foreach (var item in Model.DiscountedProduct)
                    {
                        <div class="custom-col-5 mb-30">
                            <div class="devita-product-2 mrg-inherit">
                                <div class="product-img">
                                    <div class="product-img-slider">
                                        @foreach (var picture in item.ProductPhotos)
                                        {
                                            <a asp-controller="product" asp-action="detail" asp-route-id="@item.Id"><img src="~/uploads/products/@picture.Name" alt=""></a>

                                        }
                                    </div>
                                    <span>-@item.DiscountPercent %</span>
                                </div>
                                <div class="list-col">
                                    <div class="gridview">
                                        <div class="product-content text-center">
                                            <span>Desktop, Accessories</span>
                                            <h4><a href="product-details.html">@item.Name</a></h4>
                                            <div class="product-price-wrapper">
                                                @if (item.DiscountPercent > 0)
                                                {
                                                    <span>$@item.DiscountPrice</span>
                                                    <span class="product-price-old">$@item.Price</span>
                                                }
                                                else
                                                {
                                                    <span>$@item.Price</span>

                                                }
                                            </div>
                                        </div>
                                        <div class="product-action-wrapper-2 text-center">
                                            <div class="product-rating">
                                                @for (int i = 1; i <= 5; i++)
                                                {
                                                    if (i <= item.Rate)
                                                    {
                                                        <i class="ion-android-star-outline theme-star"></i>

                                                    }
                                                    else
                                                    {
                                                        <i class="ion-android-star-outline"></i>

                                                    }

                                                }
                                            </div>
                                            <p> @item.InfoText</p>
                                            <div class="product-action">
                                                <a class="same-action" title="Wishlist" href="#">
                                                    <i class="fa fa-heart-o"></i>
                                                </a>
                                                <a class="action-cart" title="Add To Cart" asp-action="AddBasket" asp-controller="product" asp-route-id="@item.Id">
                                                    Add to Cart
                                                </a>
                                                <a class="same-action compare-mrg" data-target="#exampleCompare" data-toggle="modal" title="Compare" href="#">
                                                    <i class="fa fa-sliders fa-rotate-90"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }

                </div>
            </div>
            <div class="tab-pane" id="home3">
                <div class="custom-row">
                    @foreach (var item in Model.TopRateProduct)
                    {
                        <div class="custom-col-5 mb-30">
                            <div class="devita-product-2 mrg-inherit">
                                <div class="product-img">
                                    <div class="product-img-slider">
                                        @foreach (var picture in item.ProductPhotos)
                                        {
                                            <a asp-controller="product" asp-action="detail" asp-route-id="@item.Id"><img src="~/uploads/products/@picture.Name" alt=""></a>

                                        }
                                    </div>
                                    @if (item.DiscountPercent > 0)
                                    {
                                        <span>-@item.DiscountPercent %</span>

                                    }
                                    else
                                    {
                                        <span style="display:none!important;">
                                        </span>

                                    }
                                </div>
                                <div class="list-col">
                                    <div class="gridview">
                                        <div class="product-content text-center">
                                            <span>Desktop, Accessories</span>
                                            <h4><a href="product-details.html">@item.Name</a></h4>
                                            <div class="product-price-wrapper">
                                                @if (item.DiscountPercent > 0)
                                                {
                                                    <span>$@item.DiscountPrice</span>
                                                    <span class="product-price-old">$@item.Price</span>
                                                }
                                                else
                                                {
                                                    <span>$@item.Price</span>

                                                }
                                            </div>
                                        </div>
                                        <div class="product-action-wrapper-2 text-center">
                                            <div class="product-rating">
                                                @for (int i = 1; i <= 5; i++)
                                                {
                                                    if (i <= item.Rate)
                                                    {
                                                        <i class="ion-android-star-outline theme-star"></i>

                                                    }
                                                    else
                                                    {
                                                        <i class="ion-android-star-outline"></i>

                                                    }

                                                }
                                            </div>
                                            <p> Quam elit phasellus nibh sed eget, sed nunc in ultricies sodales sapien, non velit scelerisque...</p>
                                            <div class="product-action">
                                                <a class="same-action" title="Wishlist" href="#">
                                                    <i class="fa fa-heart-o"></i>
                                                </a>
                                                <a class="action-cart" title="Add To Cart" asp-action="AddBasket" asp-controller="product" asp-route-id="@item.Id">
                                                    Add to Cart
                                                </a>
                                                <a class="same-action compare-mrg" data-target="#exampleCompare" data-toggle="modal" title="Compare" href="#">
                                                    <i class="fa fa-sliders fa-rotate-90"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }

                </div>
            </div>
        </div>
    </div>
</div>
<div class="connect-area bg-img pt-120 pb-125" style="background-image:url(assets/img/banner/banner-3.jpg);">
    <div class="container">
        <div class="connect-content">
            <h2>Stay Connected When You’re Away <br>From Your Phone</h2>
            <p>Start the year off strong and explore how to track your activities, health, and fitness with Apple Watch and iPhone.</p>
            <h4>$128.99 </h4>
            <a class="btn-style-2" href="#">Discover Now</a>
        </div>
    </div>
</div>
<div class="best-selling-area pt-60 pb-45 gray-bg">
    <div class="container">
        <div class="top-bar section-border mb-20">
            <div class="section-title-wrapper section-bg-gray">
                <h4 class="section-title">Best Selling Products</h4>
            </div>
            <div class="product-tab-list-2 nav section-bg-gray">
                <a class="active" href="#home4" data-toggle="tab">
                    <h4>Smart Phones & Tablets </h4>
                </a>
                <a href="#home5" data-toggle="tab">
                    <h4>Laptops & Computers </h4>
                </a>
                <a href="#home6" data-toggle="tab">
                    <h4> Video Cameras</h4>
                </a>
            </div>
        </div>
        <div class="tab-content jump">
            
                <div class="tab-pane active" id="home4">
                    <div class="best-selling-active nav-style owl-carousel">
                        @foreach (var item in Model.AllProduct)
                        {
                            <div class="best-selling-bundle">
                                <div class="best-selling-pro-wrapper mb-20">
                                    <div class="product-img">
                                        @foreach (var picture in item.ProductPhotos)
                                        {
                                            if (picture.Order == 1)
                                            {
                                                <a asp-controller="product" asp-action="detail" asp-route-id="@item.Id">
                                                    <img alt="" src="~/uploads/products/@picture.Name">
                                                </a>
                                            }

                                        }
                                        @if (item.DiscountPercent > 0)
                                        {
                                            <span>-@item.DiscountPercent %</span>

                                        }
                                        else
                                        {
                                            <span style="display:none!important;">
                                            </span>

                                        }

                                    </div>
                                    <div class="product-content best-pro-content">
                                        <span>Watch, Accessories</span>
                                        <h4>
                                            <a href="product-details.html">Phantom Remote Control Ver 2018</a>
                                        </h4>
                                        <div class="product-price-wrapper">
                                            @if (item.DiscountPercent > 0)
                                            {
                                                <span>$@item.DiscountPrice</span>
                                                <span class="product-price-old">$@item.Price</span>
                                            }
                                            else
                                            {
                                                <span>$@item.Price</span>

                                            }
                                        </div>
                                        <div class="product-action best-pro-action">
                                            <a class="same-action" title="Wishlist" href="#">
                                                <i class="fa fa-heart-o"></i>
                                            </a>
                                            <a class="action-cart" title="Add To Cart"  asp-action="AddBasket" asp-controller="product" asp-route-id="@item.Id">
                                                Add to Cart
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }

                    </div>
                </div>

            

        </div>
    </div>
</div>
<div class="product-area pt-60 pb-45">
    <div class="container">
        <div class="section-border mb-10">
            <h4 class="section-title section-bg-white">Top Headphones</h4>
        </div>
        <div class="product-slider-nav nav-style"></div>
        <div class="headphone-slider-active owl-carousel product-slider">

            @foreach (var item in Model.ProductHeadPhone)
            {
                <div class="devita-product-2">
                    <div class="product-img">
                        @foreach (var pictureHeadphone in item.ProductPhotos)
                        {
                            if (pictureHeadphone.Order == 1)
                            {
                                <a asp-controller="product" asp-action="detail" asp-route-id="@item.Id">
                                    <img src="~/uploads/products/@pictureHeadphone.Name" alt="">
                                </a>
                            }


                        }

                        @if (item.DiscountPercent > 0)
                        {
                            <span>-@item.DiscountPercent %</span>

                        }
                        else
                        {
                            <span style="display:none!important;">


                            </span>

                        }
                    </div>
                    <div class="list-col">
                        <div class="gridview">
                            <div class="product-content text-center">
                                <span>Headphone, Accessories</span>
                                <h4><a href="product-details.html">Matrior black Headphone Ver 2018</a></h4>
                                <div class="product-price-wrapper">
                                    @if (item.DiscountPercent > 0)
                                    {
                                        <span>$@item.DiscountPrice</span>
                                        <span class="product-price-old">$@item.Price</span>
                                    }
                                    else
                                    {
                                        <span>$@item.Price</span>

                                    }
                                </div>

                            </div>
                            <div class="product-action-wrapper-2 text-center">
                                <div class="product-rating">
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        if (i <= item.Rate)
                                        {
                                            <i class="ion-android-star-outline theme-star"></i>

                                        }
                                        else
                                        {
                                            <i class="ion-android-star-outline"></i>

                                        }

                                    }
                                </div>
                                <p> @item.InfoText</p>
                                <div class="product-action">
                                    <a class="same-action" title="Wishlist" href="#">
                                        <i class="fa fa-heart-o"></i>
                                    </a>
                                    <a class="action-cart" title="Add To Cart" asp-action="AddBasket" asp-controller="product" asp-route-id="@item.Id">
                                        Add to Cart
                                    </a>
                                    <a class="same-action compare-mrg" data-target="#exampleCompare" data-toggle="modal" title="Compare" href="#">
                                        <i class="fa fa-sliders fa-rotate-90"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>

</div>
